body{
    margin: 0 auto;
    font-size: larger;
    height: 5px;
}

.flex-container{
    display: flex;
    width: 100vw;
}

button{
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    height: 10vh;
    width: 20vw;
	cursor: pointer;
    
    }

img {
    width: 50vw;
    height: 100vh;
  }

  #flex-item-two{
    align-items: center;
    width: 50vw;
    height: auto;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 5px 15px black;
  }
  
  legend, .form-info{
    font-weight: bold;
  }

  input {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 12px;
    border-radius: 5px;
    width: 250px;
    font-size: 14px;
    color: black;


  }

  .form-info{
    background-color: beige;
    padding: 20px;
    margin-bottom: 30px;
    height: 20vh;
  }

  .submit-btn{
    padding: 50px;
    height: 20vh;
  }

  span, a{
    color: green;
  }